.circle-bg {
    height: 400px;
    width: 400px;
    background: radial-gradient(483.9% 2719.65% at -49.5% -250%, #9BFFA5 29.24%, #AED3FF 47.38%, #C9D4EF 54.97%, #D798E1 65.75%, #CACFFA 81.77%);
    z-index: -3;
    border-radius: 50%;
    filter: blur(400px);
}

.circle-bg .dark {
    background: radial-gradient(483.9% 2719.65% at -49.5% -250%, rgba(155, 255, 165, 0.3) 29.24%, rgba(174, 211, 255, 0.3) 47.38%, rgba(201, 212, 239, 0.3) 54.97%, rgba(215, 152, 225, 0.3) 65.75%, rgba(202, 207, 250, 0.3) 81.77%);

}